<!DOCTYPE html>
<html>
  <head>
    <title>Timevis</title>
    <link rel="stylesheet" href="../stylesheets/uPlot.min.css">
    <link rel="stylesheet" href="../stylesheets/styles.css">
  </head>
  <body>
    <p class="Same">Number Of levels: </p>
    <p class="Same" id='num-levels'></p>
    <p class="Same">&emsp;&emsp;&emsp;Number Of pages: </p>
    <p class="Same" id='num-chunks'></p>
    <p class="Same">&emsp;&emsp;&emsp;Page#: </p>
    <p class="Same" id='chunk'></p>
    <p class="Same">&emsp;&emsp;&emsp;Level#: </p>
    <p class="Same" id='level'></p>
    
    <div id='levels'>
      <div id="radio-fragment" style='text-align:right;display:block;float:right;margin:10px;'> </div>
    </div>

    <div id='graph'>
    </div>
    <div id='nextPrevButtons'>
      <button onclick='renderNextChunk(`backward`)'> Backward </button>
      <button style='float:right;' onclick='renderNextChunk(`forward`)'> Forward </button>
    </div>
    <script src='../uPlot.iife.js'></script>
    <script src='../index.js'></script>
    

  </body>
  
</html>
